.us {
    &__container {
        max-width: 1060px;
        padding-top: 25px;
        padding-bottom: 40px;
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 32px;
        margin-bottom: 21px;
        font-weight: bold;
        color: $blueDark;
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 37px;

        &_right {
            width: 47%;
            margin-left: 2.5%;
            margin-top: 34px;
            display: inline-block;
            vertical-align: top;
        }
    }

    &__img {
        margin-bottom: 45px;
        display: inline-block;

        &_wide {
            width: 100%;
            margin-top: 40px;
        }

        &_left {
            width: 47%;
            margin-right: 2.5%;
        }

        &_right {
            width: 47%;
            margin-left: 2.5%;
        }

        &_4 {
            width: 47%;
            margin-right: 2.5%;
        }
    }

    .documents {
        padding-top: 40px;

        &__title {
            text-align: center;
            text-transform: uppercase;
            font-size: 32px;
            margin-bottom: 50px;
            font-weight: bold;
            color: $light;
        }
    }

    .docs {
        display: flex;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: -10px;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .doc__img {
        width: 224px;
        margin: 0 10px 63px 10px;
    }

    .doc__link {
        cursor: zoom-in;
    }
}

@media (min-width: 1140px) {
    .us__container {
        padding-left: 110px;
        padding-right: 110px;
    }
}

@media (max-width: 876px) {
    .us {
        &__container {
            padding-right: 20px;
            padding-left: 20px;
        }

        &__text_right {
            width: 100%;
            margin-top: 0;
        }
    }
}

@media (max-width: 780px) {
    .us {
        &__title {
            font-size: 24px;
        }

        .doc__img {
            margin: 30px 20px 75px 20px;
            height: 200px;
            width: auto;
        }

        .slick__dots {
            width: 150px;
        }

        .documents__title {
            font-size: 24px;
        }
    }
}

@media (max-width: 530px) {
    .us {
        &__img {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
    }
}
