.news {
    &__container {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    &__title {
        font-size: 33px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin-bottom: 44px;
        color: $blueDark;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        max-width: 326px;
        margin: 0 10px 90px;
        padding-bottom: 20px;

        &__img {
            width: 100%;
            height: 260px;
            position: relative;
        }

        &__arrow {
            position: absolute;
            top: 50%;
            right: 0;
            width: 50px;
            height: 50px;
            background-color: rgba($blue, 0.8);
            transform: translateY(-50%);
            cursor: pointer;

            &:before {
                display: block;
                content: '';
                width: 0;
                height: 0;
                margin-top: 13px;
                margin-left: 20px;
                border-top: 12px solid transparent;
                border-left: 13px solid #ffffff;
                border-bottom: 12px solid transparent;
            }
        }

        &__date {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 80px;
            height: 100%;
            text-align: center;
            padding: 14px 10px;
            font-size: 12px;
            line-height: 16px;
            background-color: $blue;
            color: $light;
        }

        &__title {
            width: 100%;
            height: 80px;
            padding: 14px 15px 0px 95px;
            font-size: 15px;
            line-height: 18px;
            text-decoration: underline;
            background: $yellow;
            overflow: hidden;
            position: relative;

            span {
                display: block;
                text-align: left;
            }

            a {
                color: $dark;
                text-overflow: ellipsis;
            }
        }

        &__text {
            font-size: 16px;
            line-height: 20px;
            padding: 16px 26px 14px;
            text-overflow: ellipsis;
        }

        &__more {
            margin-left: 26px;
            display: inline-block;
            color: $dark;

            &:after {
                display: inline-block;
                content: '';
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-left: 7px solid #5b5b5b;
                border-bottom: 6px solid transparent;
                margin-left: 8px;
            }
        }
    }

    &__pagination {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: fit-content;

        .pagination {
            display: flex;
            flex-wrap: wrap;
        }

        .page-item {
            margin-right: 4px;
            margin-left: 4px;
            margin-bottom: 15px;
        }

        .page-link {
            background: $light;
            border: 1px solid $dark;
            color: $dark;
            padding: 4px 10px;
            min-width: 30px;
            font-size: 15px;
            transition: 0.15s;

            &:hover {
                background: #eee;
                text-decoration: none;
                transition: 0.15s;
            }
        }

        .active,
        .disabled {
            .page-link {
                background: $blue;
                border-color: $blueDark;
                color: $light;
                cursor: default;
            }
        }
    }
}

@media (max-width: 1122px) {
    .news__cards {
        justify-content: center;
    }
}

@media (max-width: 760px) {
    .news .card {
        margin-bottom: 30px;
    }
    .news .card__img {
        height: 160px;
    }
}
