.partnership {
    .main {
        padding-top: 22px;
        padding-bottom: 83px;

        &__title_main {
            font-size: 40px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 25px;
        }

        &__title {
            font-size: 29px;
            margin-bottom: 33px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
        }

        &__items {
            margin-bottom: 30px;
            margin-bottom: 60px;
        }

        &__item {
            font-size: 18px;
            margin-bottom: 20px;
            position: relative;
            padding-left: 50px;

            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 25px;
                height: 25px;
                background-color: #2265ac;
                margin-right: 20px;
                vertical-align: middle;
            }
        }

        &__img {
            width: 100%;
            margin-bottom: 60px;
        }

        &__text {
            font-size: 18px;
        }
    }

    .advantages {
        padding-top: 30px;
        padding-bottom: 49px;

        &__title {
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            font-size: 29px;
            margin-bottom: 20px;
        }
    }

    .advantages__items {
        justify-content: center;
        align-items: flex-start;
    }

    .advantage {
        width: 200px;
        text-align: center;
        margin: 0px 10px 20px;

        &__number {
            font-size: 90px;
            line-height: 134px;
            color: #fded3a;
            font-weight: 700;
            transition: 1s;
        }

        &__text {
            font-size: 20px;
            color: $light;
        }
    }

    .form {
        padding-top: 30px;
        padding-bottom: 42px;

        &__title {
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            font-size: 29px;
            margin-bottom: 30px;
        }

        &__text {
            font-size: 16px;
            margin-bottom: 30px;

            span {
                display: block;
            }

            a {
                color: #a9cdf3;
                text-decoration: underline;
            }
        }

        form {
            display: flex;
            flex-wrap: wrap;
            margin: auto -10px;
        }

        input,
        textarea {
            background-color: $light;
            width: 100%;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 30px;
            border: 0;
            padding: 8px 20px;
            font-size: 22px;
            color: $dark;

            &::placeholder {
                font-size: 22px;
                color: lighten($dark, 20%);
            }
        }

        input {
            height: 45px;
        }

        textarea {
            height: 105px;
            margin-bottom: 38px;
        }

        .input_small {
            width: calc(50% - 20px);
        }

        &__button {
            border: 0;
            background-color: #fded3a;
            text-transform: uppercase;
            color: #1d3969;
            font-size: 18px;
            font-weight: 700;
            margin-left: auto;
            margin-right: auto;
            padding: 7px 66px;
            overflow: hidden;
            position: relative;
        }

        &__button:after {
            background: #fff;
            content: '';
            height: 155px;
            left: -75px;
            opacity: 0.8;
            position: absolute;
            top: -50px;
            width: 50px;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            transform: rotate(35deg);
            z-index: 1;
        }

        &__button:hover:after {
            left: 120%;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    .study {
        padding-top: 80px;
        padding-bottom: 24px;

        &__title-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 52px;
        }

        &__title {
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            font-size: 40px;
        }

        &__title-img {
            width: 170px;
            height: 170px;

            &_left {
                margin-right: 70px;
            }

            &_right {
                margin-left: 70px;
            }
        }

        &__img {
            width: 100%;
            // удалить
            height: 590px;
            margin-bottom: 63px;
        }

        &__text {
            margin-bottom: 47px;

            p {
                font-size: 19px;
                line-height: 30px;
                margin-bottom: 20px;
            }
        }

        &__connect {
            font-size: 22px;
            color: $blue;
            margin-bottom: 30px;
            text-align: center;
        }
    }
}
