.products {
    &__section {
        display: flex;
    }

    &__nav {
        width: 30%;
        min-width: 400px;
    }

    &__text {
        width: 70%;
        padding: 50px 150px 50px 70px;
        font-size: 18px;
    }

    .nav {
        &__title {
            width: 100%;
            text-transform: uppercase;
            text-align: right;
            font-size: 17px;
            font-weight: bold;
            padding: 3px 5px;
            background-color: #5b5b5b;
            color: #fefefe;
            padding-right: 20px;

            span {
                width: 100%;
                max-width: 300px;
            }
        }

        &__ul {
            width: 100%;
            margin-bottom: 0;
        }

        &__li {
            width: 100%;
        }

        &__subul {
            width: 100%;
            max-width: 330px;
            margin-left: auto;
            border-right: 1px solid #e4e4e4;
            margin-right: 2px;
            padding-top: 15px;
            padding-bottom: 25px;
        }

        &__subli {
            display: block;
            padding: 10px;

            a {
                color: $dark;
                font-size: 18px;
                position: relative;
                z-index: 1;
                transition: all 300ms ease;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: auto;
                    right: 0;
                    height: 3px;
                    width: 0%;
                    background: lighten($color: $yellow, $amount: 20%);
                    z-index: 0;
                    transition: all 300ms ease;
                }
            }

            &:hover {
                a {
                    text-decoration: none;
                    color: #2f2f2f;

                    &:before {
                        content: '';
                        width: 100%;
                        left: 0;
                        right: 0;
                    }
                }
            }

            &_active a {
                font-weight: bold;
            }
        }
    }

    &__up {
        display: none;
        position: sticky;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background-color: #fded3a;
        top: 92vh;
        float: right;
        margin-left: auto;
        opacity: 0.8;
        transform: translate(-30px, -30px);

        &:after {
            content: '';
            position: absolute;
            top: 18px;
            left: 17px;
            border: solid $dark;
            border-width: 0 2px 2px 0;
            display: block;
            padding: 5px;
            transform: rotate(-135deg);
        }
    }
}

@media (max-width: 1200px) {
    .products {
        &__section {
            display: block;
        }

        &__nav {
            float: left;
            margin-right: 70px;
            margin-bottom: 70px;
        }

        &__text {
            width: 100%;
            padding-right: 70px;
        }
    }
}

@media (max-width: 900px) {
    .products {
        &__nav {
            float: none;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 70px;
        }

        &__text {
            width: 100%;
            padding-right: 40px;
            padding-left: 40px;
        }

        .nav {
            margin-bottom: 0;

            &__subul {
                border: none;
            }

            &__subli {
                padding: 5px;
            }
        }

        &__up {
            display: block;
        }
    }
}

@media (max-width: 500px) {
    .products {
        .nav {
            width: 100%;
            min-width: 0px;
            border-bottom: 1px solid $dark;

            * {
                text-align: center;
            }

            &__subul {
                margin-left: auto;
                margin-right: auto;
                max-width: none;
                padding-right: 20px;
                padding-left: 20px;
            }

            &__title {
                padding-right: 20px;
                padding-left: 20px;
            }
        }

        &__text {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}
